* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 1em;
}

.Game {
  display: grid;
  flex-direction: row;
  font-size: 18px;
  width: 20em;
  height: 10em;
  grid-template-rows: 1.5em 1fr;
  grid-template-columns: 1fr 1fr;
}

.Game-Log {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 20px;
}

.Game-Board {
  display: grid;
  margin-top: 1em;
  height: 4em;
  width: 4em;
  grid-area: 2 / 1 / 3 / 2;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.Game-Board-Square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.Game-Board-Square_highlighted {
  background-color: aquamarine;
}

.Game-Menu {
  grid-area: 1 / 1 / 2 / 3;
  border: 1px solid;
}
